<h2>Compare overall ratings</h2>
  <input type="text" placeHolder="Movie Title" [(ngModel)]="movieTitle">
  <input type="text" placeHolder="Director" [(ngModel)]="director">

  <div id="btn">
    <button (click)="comRatings()" id="login-btn">Comapre Ratings</button>
  </div>

  <div *ngIf="ratings">
    <h4>Ratings:</h4>
    <ul>
      <li *ngFor="let r of ratings">
        <span>Average overall rating: {{r.avgOverallRating}} | Average review rating: {{r.avgReviewRating}} | Review count: {{r.reviewCount}}</span>
      </li>
    </ul>
  </div>
